# Исполняемые файлы (результат сборки)
my_program
another_program
diagonal_program
*.out
*.exe
*.png
Riemann-Solvers-master/*
*.txt

# Объектные файлы
*.o
*.obj

# Папка настроек VS Code (скрываем всё, кроме нужных конфигов)
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/c_cpp_properties.json

# Индексация и кэш clangd
.clangd/
.cache/
compile_commands.json

# Временные файлы и логи
*.log
*.tmp
